@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Work Sans", sans-serif;
  line-height: 1.5;
  background-color: #E0E7D7;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* START styles from Thomas's old code */

a:focus,
[tabindex="0"]:focus,
details:focus,
summary:focus,
input:focus,
textarea:focus,
button:focus,
select:focus {
  outline: 3px solid #D8BFD8;
  outline-offset: 0;
}

a:focus, [tabindex="0"]:focus {
  outline-offset: 3px;
}

.skip-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.skip-links > li::before {
  content: none; /* Remove the bullets if nice lists is selected */
}

.skip-links a,
.skip-links button {
  padding: .5em .75em;
  position: absolute;
  top: -10em;
  z-index: 10000; /* To make sure they're always on top */
  background-color: #D8BFD8;
  border: 0;
  color: #ACBF8F;
  font-size: 1.125rem;
  font-weight: bold;
  text-decoration: none;
}

.skip-links a:focus,
.skip-links button:focus {
  outline-offset: 3px;
  top: 0;
}

/* END Thomas styles */

/* Start project custom CSS */

body {
  margin: 0;
}

.btn {
  padding: .8rem 2.5rem 1rem;
  background-color: #ACBF8F;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  align: center;
}

.btn:hover,
.btn:active {
  background-color: #69455E;
}

.nav-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

nav ul {
  padding: 0;
}

.flex {
  display: flex;
  justify-content: flex-start;
  align-content: center;
}

.flex > li {
  display: inline-block;
}

a:not(.current) {
  text-decoration: none;
}

.flex > li a {
  padding: 1.4em;
}

.nav-link {
  background-color: #E0E7D7;
}

.nav-link:hover,
.nav-link:active {
  background-color: #ACBF8F;
}

.banner-image {
  width: 100vw;
  height: 300px;
  object-fit: cover;
}

.banner-image-2 {
  width: 100vw;
  height: 300px;
  object-fit: cover;
}

img {
  display: block;
  width: 100%;
}

#image1 {
  grid-area: image1;
}

#image2 {
  grid-area: image2;
}

#header1 {
  grid-area: header1;
}

h3 {
  color: #69455E;
  text-align: left;
}
#header2 {
  grid-area: header2;
}

#header3 {
  grid-area: header3;
}

#header4 {
  grid-area: header4;
}

h2 {
  color: #69455E;
  text-align: left;
}

#text1 {
  grid-area: text1;
}

#text2 {
  grid-area: text2;
}

#text3 {
  grid-area: text3;
}

#text4 {
  grid-area: text4;
}

.section-4 p:nth-of-type(1) {
  grid-area: text4a;
}

.section-4 p:nth-of-type(2) {
  grid-area: text4b;
}

#text4 > p:nth-of-type(3) {
  grid-area: text4c;
}

#text4 > p:nth-of-type(4) {
  grid-area: text4d;
}

.section-4 .btn {
  grid-area: btn4;
  align: center;
}

.section-1 {
  display: grid;
  grid-template-areas:
    "image1"
    "text1";
  align-items: center;
  justify-items: center;
  padding: 2rem;
  gap: 2rem;
  text-align: left;
}

.section-2 {
  display: grid;
  grid-template-areas:
    "image2"
    "header2"
    "text2";
  align-items: left;
  justify-items: left;
  padding: 2rem;
  gap: 2rem;
  text-align: left;
}

.section-3 {
  display: grid;
  grid-template-areas:
    "header3"
    "text3";
  align-items: center;
  justify-items: center;
  padding: 2rem;
  gap: 2rem;
  text-align: center;
}

.section-4 {
  display: grid;
  grid-template-areas:
    "header4"
    "text4"
    "btn4";
  align-items: center;
  justify-items: center;
  padding: 2rem;
  gap: 2rem;
  text-align: left;
  background-color: #D8BFD8;
}

footer {
  text-align: center;
}

@media only screen and (min-width: 50em) {

  .section-1 {
    grid-template-areas: "text1 image1";
    grid-template-columns: 1fr 1fr;
    text-align: left;
  }

  .section-2 {
    grid-template-areas:
      "image2 header2"
      "image2 text2";
    grid-template-columns: 1fr 1fr;
    text-align: left;
  }

  .section-3 {
    grid-template-areas: "header3 text3";
    justify-items: left;
    text-align: left;
  }

  .section-4 {
    grid-template-areas:
      "header4"
      "text4"
      "btn4";
    text-align: center;
  }

  #text4 {
    display: grid;
    grid-template-areas:
      "text4a text4c"
      "text4b text4d"
      "h4 h4";
    text-align: left;
    gap: 2em;
  }

  #text4 > h3 {
    grid-area: h4;
    text-align: left;
  }

}

/* End custom CSS */
