@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Work Sans", sans-serif;
  color: #69455e;
  line-height: 1.5;
  background-color: #e0e7d7;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* START styles from Thomas's old code */

a:focus,
[tabindex="0"]:focus,
details:focus,
summary:focus,
input:focus,
textarea:focus,
button:focus,
select:focus {
  outline: 3px solid #d8bfd8;
  outline-offset: 0;
}

a:focus, [tabindex="0"]:focus {
  outline-offset: 3px;
}

.skip-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.skip-links > li::before {
  content: none; /* Remove the bullets if nice lists is selected */
}

.skip-links a,
.skip-links button {
  padding: .5em .75em;
  position: absolute;
  top: -10em;
  z-index: 10000; /* To make sure they're always on top */
  background-color: #d8bfd8;
  border: 0;
  color: #acbf8f;
  font-size: 1.125rem;
  font-weight: bold;
  text-decoration: none;
}

.skip-links a:focus,
.skip-links button:focus {
  outline-offset: 3px;
  top: 0;
}

/* END Thomas styles */

/* Start project custom CSS */

body {
  margin: 0;
}

.btn {
  padding: .8rem 2.5rem 1rem;
  color: #69455e;
  border: 2px solid #69455e;
  font-weight: bold;
  border-radius: 4px;
}

.btn:hover,
.btn:active {
  color: white;
  background-color: #69455e;
  border-color: #69455e;
}

p {
  max-width: 40em;
}

form {
  background-color: white;
  padding: 2rem;
}

input:not(#radio-label-2),
input:not(#radio-label-1),
select,
option {
  padding: .5rem 1rem;
  width: 100%;
}

fieldset {
  max-width: 60em;
  padding: 1rem 2rem;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.h2-center {
  text-align: center;
}

.logo-small {
  display: block;
  max-height: 60px;
}

.logo {
  display: none;
}

.nav-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

nav ul {
  padding: 0;
}

.flex {
  display: flex;
  justify-content: flex-start;
  align-content: center;
}

.flex > li {
  display: inline-block;
}

a:not(.current) {
  text-decoration: none;
}

.flex > li a {
  padding: 1.4em;
}

.nav-link {
  background-color: #e2e7dc;
}

.nav-link:hover,
.nav-link:active {
  background-color: #acbf8f;
}

.current {
  background-color: #eaf1e1;
}

.banner-image {
  width: 100vw;
  height: 300px;
  object-fit: cover;
}

.banner-image-2 {
  width: 100vw;
  height: 300px;
  object-fit: cover;
}

img {
  display: block;
  width: 100%;
}

#image1 {
  grid-area: image1;
}

#image2 {
  grid-area: image2;
}

#image5 {
  grid-column: 1/8;
  grid-row: 1/3;
}

#header1 {
  grid-area: header1;
}

h3 {
  color: #69455e;
  text-align: left;
}

#header2 {
  grid-area: header2;
}

#header3 {
  grid-area: header3;
}

#header4 {
  grid-area: header4;
}

h2 {
  color: #69455e;
  text-align: left;
}

#text1 {
  grid-area: text1;
}

#text2 {
  grid-area: text2;
}

#text3 {
  grid-area: text3;
}

#text4 {
  grid-area: text4;
}

#text5 {
  grid-column: 6/12;
  grid-row: 2/5;
  background-color: white;
  padding: 2rem;
}

.section-4 p:nth-of-type(1) {
  grid-area: text4a;
}

.section-4 p:nth-of-type(2) {
  grid-area: text4b;
}

.section-4 .btn {
  grid-area: btn4;
}

.section-1 {
  display: grid;
  grid-template-areas:
    "image1"
    "text1";
  align-items: center;
  justify-items: center;
  padding: 2rem;
  gap: 2rem;
  text-align: left;
}

.section-2 {
  display: grid;
  grid-template-areas:
    "image2"
    "header2"
    "text2";
  align-items: flex-start;
  justify-items: left;
  padding: 2rem;
  gap: 2rem;
  text-align: left;
}

.section-3 {
  display: grid;
  grid-template-areas:
    "header3"
    "text3";
  align-items: center;
  justify-items: center;
  padding: 2rem;
  gap: 2rem;
  text-align: center;
}

.section-4 {
  display: grid;
  grid-template-areas:
    "header4"
    "text4"
    "btn4";
  align-items: center;
  justify-items: center;
  padding: 2rem;
  gap: 2rem;
  text-align: left;
  background-color: #d8bfd8;
}

.section-5 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 2rem 0;
}

footer > p {
  text-align: center;
  margin: 1rem auto;
}

.center {
  text-align: center;
  padding: 3rem 0;
  background-color: white;
}

@media only screen and (min-width: 50em) {

  .logo-small {
    display: none;
  }

  .logo {
    display: block;
    max-height: 100px;
  }

  .section-1 {
    grid-template-areas: "text1 image1";
    grid-template-columns: 1fr 1fr;
    text-align: left;
  }

  .section-2 {
    grid-template-areas:
      "image2 header2"
      "image2 text2";
    grid-template-columns: 1fr 1fr;
    text-align: left;
  }

  .section-3 {
    grid-template-areas: "header3 text3";
    justify-items: left;
    text-align: left;
  }

  .section-4 {
    grid-template-areas:
      "header4"
      "text4"
      "btn4";
    text-align: center;
  }

  #text4 > h3 {
    grid-area: h4;
    text-align: center;
  }

  #text4 {
    display: grid;
    grid-template-areas:
      "text4a text4b"
      "h4 h4";
    text-align: left;
    gap: 2em;
  }

}

/* End custom CSS */
